log
scriptini
server.dat
ody*.exe
localhost
odyssey.ini
MSSCCPRJ.SCC
T1.TMP
SCRIPT.BIN
script.bas
SCRIPT.ASM
classic/ocache.dat
classic/ncache.dat
classic/moncache.dat
classic/magcache.dat
classic/itemsufcache.dat
classic/itemprecache.dat
classic/hcache.dat
classic/cache1.dat
*.ini
*.dat
*.ASM
script.bas
SCRIPT.BIN
SCRIPT.LOG
SCRIPT.ASM
Odyssey.vbw
*.vbw
*.vbw
frmServerList.log
